html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #303030;
  color: #E5E5E5;
  font-family: Oswald, Sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 3%;
}

.toggleDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3em;
  z-index: 50;
  right: 0.5em;
}

#search {
  display: block;
  position: absolute;
  z-index: 3;
  top: 20px;
  left: 75px;
}

#map {
  width: 100%;
  height: 85%;
  position: relative;
  margin: 0 auto;
}

.lat-long {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  z-index: 9999;
}

.active-latlong {
  display: inline-block;
  margin-top: 1%;
  padding: .5em;
  z-index: 50;
  background: #d62d34;
  color: #E5E5E5;
  border-radius: 1em;
}

.HomeButton {
  border-radius: 0;
  position: absolute;
  z-index: 50;
  right: 1em;
  margin-top: 1%;
}
