html, body, #map {
  padding: 0;
  margin: 0;
  height: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 2%;
}

#map {
  width: 80%;
  height: 80%;
  margin-left: 5%;
  border-radius: 1em;
  margin: 0 auto;
}


#SatelliteToggle, #StreetToggle {
  width: 80px;
  position: absolute;
  z-index: 50;
  margin: 1%;
}

#SatelliteToggle {
  top: 10%;
  right: 0px;
}

#StreetToggle {
  top: 10%;
  margin-top: 90px;
  right: 0px;
}

#info {

}
